*{
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
  }

.content {
    border: 1px solid #C0C0C0;
    box-shadow: inset 0 1px 2px #e4e4e4;
    background-color: #fff;
}

.gutter {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
    background-image: url('http://nathancahill.github.io/Split.js/grips/vertical.png');
}

.gutter.gutter-vertical {
    cursor: row-resize;
    background-image: url('http://nathancahill.github.io/Split.js/grips/horizontal.png');
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.split.split-horizontal, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
    border-left: 1px solid black;
}

.fa-info-circle {
    color: blue;
    font-size: 15px;
}

#middle {
    height: 80%;
}

#lower {
    height: 96%;
    width: 100%;
}

#left, #right{
    overflow: auto;
}

.success{
    color: green;
}
.error {
    color: red;
}
.info {
    color: blue;
}
.warning {
    color: yellow;
}

#bottomleft, #bottomright, #bottomcenter{
    overflow: auto;
}

#editortabs {
    width: 100% !important;
    height: 100% !important;
}
.editor {
    width: 100% !important;
    height: 93% !important;
}

#top {
    height: 4%;
    min-height: 4%;
    max-height: 4%;
    border-bottom: 1px solid black;
    overflow: hidden;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

#top table, #top tr {
    height: 100%;
}

.centered {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#view{
    height: 100%;
}

.menuitem {
    cursor: pointer;
    position: relative;
    float: left;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-right: 2%;
}
.menuitem.disabled{
    color: #ccc;
}
.closetab:hover,.menuitem:hover{
    color: #ccc;
}

.actionitem {
    cursor: pointer;
    position: relative;
    float: left;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-right: 2%;
}
.actionitem.disabled{
    color: #ccc;
}
.closetab:hover,.actionitem:hover{
    color: #ccc;
}

.subitem {
    cursor: pointer;
    margin:5px;
}
.subitem.disabled{
    color: #ccc;
}
.subitem:hover{
    color: #ccc;
}



.verticallineright {
    border-right: 1px solid #ccc;
}

#righttop {
    overflow-y: auto;
}

#dumppane div table {font-size:11px;}

#dumppane div td {font-size:11px;}

#dumppane div td span {font-size:11px;}

#dumppane div td.n0 {font-size:11px;}

#dumppane div td.h0 {font-size:11px;}

#dumppane div td.n1 {font-size:11px;}

#dumppane div td.h1 {font-size:11px;}

#dumppane div td.n2 {font-size:11px;}

#dumppane div td.h2 {font-size:11px;}

#dumppane div td.n3 {font-size:11px;}

#dumppane div td.h3 {font-size:11px;}

#dumppane div td.n4 {font-size:11px;}

#dumppane div td.h4 {font-size:11px;}

#dumppane div td.n5 {font-size:11px;}

#dumppane div td.h5 {font-size:11px;}

#leftsidenav {
    z-index: 1000;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.form-signin-heading{
    text-align: center;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.yellowline {
  position:absolute;
  background:rgba(255,255,150,0.5);
  z-index:30
}

.redline {
  position:absolute;
  background:rgba(255,0,0,0.5);
  z-index:20
}

#watchtree .jstree-anchor[child="true"] i.jstree-checkbox{ 
    display:none; 
}
































/*


SQUARE


*/

#form-container input{
    font-size: 16px; 
    font-family: Helvetica Neue; 
    padding: 16px; 
    color: #373F4A; 
    background-color: transparent; 
    line-height: 24px; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 16px;
}

.form-control::placeholder {
    color: #CCC;
    opacity: 0.6;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body, html {
    color: #373F4A;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
  }
  
  iframe {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  button {
    border: 0;
  }
  
  hr {
    height: 1px;
    border: 0;
    background-color: #CCC;
  }
  
  fieldset {
    margin: 0;
    padding: 0;
    border: 0;
  }  
  
  #form-container {
    margin: 0 auto;
  }
  
  .label {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5;
    text-transform: uppercase;
  }
  
  .third {
    float: left;
    width: calc((100% - 32px) / 3);
    padding: 0;
    margin: 0 16px 16px 0;
  }
  
  .third:last-of-type {
    margin-right: 0;
  }
  
  /* Define how SqPaymentForm iframes should look */
  .sq-input {
    box-sizing: border-box;
    border: 1px solid #E0E2E3;
    border-radius: 4px;
    outline-offset: -2px;
    display: inline-block;
    -webkit-transition: border-color .2s ease-in-out, background .2s ease-in-out;
       -moz-transition: border-color .2s ease-in-out, background .2s ease-in-out;
        -ms-transition: border-color .2s ease-in-out, background .2s ease-in-out;
            transition: border-color .2s ease-in-out, background .2s ease-in-out;
  }
  
  /* Define how SqPaymentForm iframes should look when they have focus */
  .sq-input--focus {
    border: 1px solid #4A90E2;
    background-color: rgba(74,144,226,0.02);
  }
  
  
  /* Define how SqPaymentForm iframes should look when they contain invalid values */
  .sq-input--error {
    border: 1px solid #E02F2F;
    background-color: rgba(244,47,47,0.02);
  }
  
  #sq-card-number, #sq-postal-code {
    margin-bottom: 16px;
  }
  
  
  
  
  #error {
    width: 100%;
    margin-top: 16px;
    font-size: 14px;
    color: red;
    font-weight: 500;
    text-align: center;
    opacity: 0.8;
  }